@import url(/node_modules/@fontsource/nunito/400.css);
@import url(/node_modules/@fontsource/nunito/800.css);
@import url(/node_modules/@fortawesome/fontawesome-free/css/all.min.css);

:root {
  --color-primary: #181818;
  --color-accent: #ed6436;

  --block-padding-horizontal: 100px;

  --primary-font: "Nunito", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.75rem;
  align-items: center;
  font-family: var(--primary-font);
  box-shadow: 0px -2px 9px 3px rgba(179, 179, 179, 1);
}

header img {
  width: 2rem;
}

.main-header__secondary-container {
  visibility: hidden;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

main {
  padding: 0 var(--block-padding-horizontal);
  display: flex;
  flex-direction: column;
  gap: 3.375rem;
  font-family: var(--primary-font);
  min-width: 100vw;
}

.pet-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding-top: 1.875rem;
}

.pet-activities__title {
  color: var(--color-accent);
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.pet-activities__info {
  font-size: 2.5rem;
  font-weight: 800;
}

.pet-activities__button {
  width: fit-content;
  margin-top: 1.875rem;
  background-color: var(--color-accent);
  border: none;
  border-radius: 0 1rem 1rem 1rem;
  color: white;
  text-transform: uppercase;
  padding: 0.625rem 0.813rem;
  font-family: var(--primary-font);
  letter-spacing: 0.5;
  font-weight: bold;
  border: 1.5px solid var(--color-accent);
}

.pet-activities__button:hover {
  color: var(--color-accent);
  background-color: white;
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.activities-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.activities-cards__card img {
  width: 100%;
  border-radius: 1rem;
}

ul li {
  position: relative;
}

li div {
  position: absolute;
  top: 0;
  bottom: 0.3rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: flex-end;
  padding: 2rem;
  background-color: rgba(17, 17, 17, 0.3);
  border-radius: 1rem;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 50px;
    align-items: center;
    font-family: var(--primary-font);
    box-shadow: 0px -2px 9px 3px rgba(179, 179, 179, 1);
  }

  header img {
    width: 2rem;
  }

  .navigation-div__button {
    height: fit-content;
    border: 1.5px solid var(--color-accent);
    border-radius: 0 1rem 1rem 1rem;
    color: var(--color-primary);
    text-transform: uppercase;
    background: none;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.5;
  }

  .navigation-div__button:hover {
    background-color: var(--color-accent);
    color: #fff;
  }

  header nav ul {
    display: flex;
    gap: 1.5rem;
  }

  .main-header__secondary-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .pet-activities {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    padding-bottom: 2rem;
  }

  .pet-activities__button {
    margin: 0;
    position: absolute;
    right: 0;
    transform: translate(0, 50%);
  }

  .activities-cards {
    flex-direction: row;
  }

  li div {
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    gap: 1.25rem;
  }

  .activities-cards__card:hover div {
    opacity: 1;
    visibility: visible;
  }

  .activities-cards__card img {
    object-fit: cover;
    height: 300px;
  }

  main {
    display: block;
    padding: 0 50px;
  }

  .card__activity-type {
    font-size: 1.5rem;
  }
}
