@import url(/node_modules/@fontsource/nunito/400.css);

:root {
  --color-primary: #181818;
  --color-accent: #ed6436;

  --block-padding-horizontal: 100px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  padding: 0 var(--block-padding-horizontal);
  display: flex;
  flex-direction: column;
  gap: 3.375rem;
}

.pet-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  padding-top: 1.875rem;
}

.pet-activities__title {
  color: var(--color-accent);
  margin: 0;
}

.pet-activities__button {
  width: fit-content;
  margin-top: 1.875rem;
  background-color: var(--color-accent);
  border: none;
  border-radius: 0 1rem 1rem 1rem;
  color: white;
}
